.header
  display: flex
  justify-content: space-between
  align-items: center
  color: $primary
  height: 125px
  @media only screen and (max-width: 600px)
      flex-direction: column
      height: 155px
      justify-content: space-around
.logo
  width: 200px
  &__titulo
    display: none
  &__imagem
    width: 100%
.form__busca
  border: 1px solid $primary
  border-radius: 55px
  padding: 15px 20px
  font-size: 18px
  input
    border: none
    color: $primary
    width: 260px
    margin-left: 20px
    transition: width .3s
    font: 500 18px 'Fira Sans'
    &:focus
      outline-color: transparent
      width: 280px
    @media only screen and (max-width: 600px)      
      width: 200px
      &:focus
        width: 220px

